<div class="jumbotron lead">

    <h1><b>Sistema Gestor de Clientes - Versão 1.0</b></h1>
    <div class="nav pull-left">
        <ol class="round">
            <li class="one">
                Cadastro de Clientes.
                <h5>Controle dos Atendimentos aos Clientes.</h5>
            </li>

            <li class="two">
                Cadastros e Controle de Compras e Vendas.
                <h5>Controle de Estoque.</h5>
            </li>
            <li class="three">
                Controle de cliente que indicarem outros montará uma equipe e se torna um líder.
                <h5>Cadastro de Ganhos por Indicação</h5>
            </li>
        </ol>
    </div>
    <div class="nav text-center">
        <span>
            <img src="~/Images/Logomarca.png" height="170" width="200" />
        </span>
    </div>
    @*<div class="label label-danger embed-responsive">
        Obs.: todas alterações feitas por você serão gravadas e de total responsabilidade sua, mesmo que deixe outros usarem sua conta.
    </div>*@
</div>