@{
    ViewBag.Title = "Área em Desenvolvimento";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default">
    <div class="panel-heading">
        <b>@ViewBag.Title.</b>
        <div class="nav pull-right">
            <a class="btn btn-sm btn-primary" href="@Url.Action("Index", "Home")">Voltar</a>
        </div>
    </div>
    <div class="panel-body">
        <hgroup class="title">
            <h3>@ViewBag.Message</h3>
        </hgroup>
        <div class="row text-center">
            <img src="../../Content/images/main.jpg" width="auto" height="auto" alt="" />
        </div>
    </div>
</div>
