@{
    ViewBag.Title = "JCarvalho Tecnologia em Informática";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@

<div class="panel panel-body">
    <div class="jumbotron">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><b>Contatos</b></div>
        <div class="panel-body">
            <div class="col-md-6">
                <section class="contact">
                    <header>
                        <h3>Telefones:</h3>
                    </header>
                    <p>
                        <span class="label-default">Principal OI:</span>
                        <span>(98) 8701-3911</span>
                    </p>
                    <p>
                        <span class="label-default">Comercial TIM:</span>
                        <span>(98) 8166-9669</span>
                    </p>
                </section>
                <section class="contact">
                    <header>
                        <h3>Email:</h3>
                    </header>
                    <p>
                        <span class="label-default">Suporte:</span>
                        <span><a href="mailto:joser.carvalho@ig.com.br">joser.carvalho@ig.com.br</a></span>
                    </p>
                </section>
            </div>
            <div class="col-md-6">
                <section class="contact">
                    <header>
                        <h3>Redes Sociais:</h3>
                    </header>
                    <p>
                        <span class="label-default">Fan Page:</span>
                        <span><a href="http://www.facebook.com/JCarvalhoInformatica" title="JCarvalho Tecnologia em Informática" target="new">JCarvalho TI.</a></span>
                    </p>
                    <p>
                        <span class="label-default">Twitter:</span>
                        <span><a href="http://twitter.com/joser_carvalho" title="twitter.com/joser_carvalho" target="new">twitter.com/joser_carvalho</a></span>
                    </p>
                </section>
                <section class="contact">
                    <header>
                        <h3>SKYPE:</h3>
                    </header>
                    <p>
                        <span class="label-success">Usuário:</span>
                        <span>joser_carvalho</span>
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>