@model List<JC_BookStation.Data.Models.ProdutosVenda>
           
<table id="listaProdutos" class="table table-hover table-condensed table-bordered table-responsive">
    <thead class="bg-info">
        <tr>
            <th>Código Barra</th>
            <th>Nome do Produto</th>
            <th>Qnt.</th>
            <th>Bonus</th>
            <th>Vl. Unitário</th>
            <th>Subtotal</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td @DisplayMode(item.Produtos.CodigoBarras)</td>
                <td data-bind="text: Nome"></td>
                <td data-bind="text: Quantidade"></td>
                <td data-bind="text: formatCurrency(Comissao)"></td>
                <td data-bind="text: formatCurrency(ValorUnitario)"></td>
                <td data-bind="text: formatCurrency(subtotal)"></td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-danger glyphicon glyphicon-trash" title="Remover da lista" href='#' data-bind='click: $root.excluir'></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

