@{
    ViewBag.Title = "JCarvalho TI - Suporte";
}

@*@section featured {
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title text-center">
                    <h1>@ViewBag.Title.</h1>
                    <h2>@ViewBag.Message</h2>
                </hgroup>
            </div>
        </section>
    }*@

<div class="panel panel-body">
    <div class="jumbotron">
        @*<h1>@ViewBag.Title.</h1>*@
        <h2>@ViewBag.Message</h2>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading"><b>Contatos</b></div>
        <div class="panel-body">
            <div class="col-md-6">
                <section class="contact">
                    <header>
                        <h3>Telefones:</h3>
                    </header>
                    <p>
                        <span class="label-warning">Principal OI:</span>
                        <span>(98) 8701-3911</span>
                    </p>
                    <p>
                        <span class="label-warning">Comercial TIM:</span>
                        <span>(98) 8166-9669</span>
                    </p>
                </section>
                <section class="contact">
                    <header>
                        <h3>Email:</h3>
                    </header>
                    <p>
                        <span class="label-default">Suporte:</span>
                        <span><a href="mailto:joser.carvalho@ig.com.br">joser.carvalho@ig.com.br</a></span>
                    </p>
                </section>
            </div>
            <div class="col-md-6">
                <section class="contact">
                    <header>
                        <h3>Redes Sociais:</h3>
                    </header>
                    <p>
                        <span class="label-info">Fan Page:</span>
                        <span><a href="http://www.facebook.com/JCarvalhoInformatica" title="JCarvalho Tecnologia em Informática" target="new">JCarvalho TI.</a></span>
                    </p>
                    <p>
                        <span class="label-info">Twitter:</span>
                        <span><a href="http://twitter.com/joser_carvalho" title="twitter.com/joser_carvalho" target="new">twitter.com/joser_carvalho</a></span>
                    </p>
                </section>
                <section class="contact">
                    <header>
                        <h3>SKYPE:</h3>
                    </header>
                    <p>
                        <span class="label-success">Usuário:</span>
                        <span>joser_carvalho</span>
                    </p>
                </section>
            </div>
        </div>
    </div>
</div>
