@*<footer class="container">
        <nav class="row navbar navbar-default" role="navigation">
            <div class="pull-left">
                <p>&copy; @DateTime.Now.Year - Desenvolvido por <a href="http://www.facebook.com/JCarvalhoInformatica" target="_blanck" title="JCarvalho TI">JCarvalho TI</a></p>
            </div>
            <div class="text-center">
                    @Html.ActionLink("Suporte", "Suporte", "Home")
                </div>
            <div class="pull-right"><a href="#">Voltar ao topo</a></div>
        </nav>
    </footer>*@

<div>
    <p>&copy; @DateTime.Now.Year - Desenvolvido por <a href="http://www.facebook.com/JCarvalhoInformatica" target="_blanck" title="JCarvalho TI">JCarvalho TI</a></p>
</div>
