<div class="row masthead">
    <div class="row">
        <span class="pull-left">
            <img src="~/Images/Logomarca.png" height="300" width="300" class="img-responsive" />
        </span>

        <h1><b><em>Book Station Distribuidora</em></b></h1>
        <h3><b><em>Fazendo historia e levando educação a cada um que precisa de leitura</em></b></h3>
        <h4><b>Vendas no ATACADO e a VAREJO</b></h4>
    </div>

</div>
