/* FOLHA DE ESTILOS PARA WEB SITE
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

header {
    /*background: url(img/bg-menu-active.jpg) repeat;*/
    color: #fff;
    text-align: center;
}

    header h1 {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 30px;
        text-shadow: 2px 2px 10px #000;
        color: orange;
    }

    header h3 {
        font-size: 30px;
        text-shadow: 2px 2px 10px #000;
    }

    header h4 {
        font-size: 20px;
        text-shadow: 2px 2px 10px #000;
        line-height: 30px;
    }

footer {
    background: #0e4680;
    color: #fff;
}

footer a, footer a:hover, footer a:active, footer a:visited {
    color: #fff;
}

.buttons-share {
    padding: 10px;
    background: #ededed;
    border-bottom: 1px solid #dedede;
}

@media (max-width: 480px) {
    header h1 {
        font-size: 40px;
    }

    header h3 {
        font-size: 30px;
    }

    header h4 {
        font-size: 20px;
    }
}

@media (max-width: 979px) {
    body {
        padding-top: 0;
    }

    .navbar-fixed-top {
        margin-bottom: 0;
    }

    header h1 {
        font-size: 50px;
    }

    header h3 {
        font-size: 35px;
    }

    header h4 {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    body {
        font-size: 13px;
        padding: 0 10px;
    }

    header, .buttons-share {
        margin: 0 -20px;
    }

        header h1 {
            font-size: 40px;
        }

        header h3 {
            font-size: 30px;
        }

        header h4 {
            font-size: 15px;
        }

    footer {
        margin: 0 -10px;
    }
}
