<footer>
    <div id="site-url" class="col-xs-5 col-md-4">
        <small>
            <strong>&copy;@DateTime.Now.Year</strong> - Desenvolvido por <a href="http://www.facebook.com/JCarvalhoInformatica" target="_blanck" title="JCarvalho TI">JCarvalho TI</a>
        </small>
    </div>
    @*<div id="img-social" class="col-xs-1 col-md-3 col-md-offset-2 pull-right">
        <ul class="list-inline">
            <li>
                <a href="http://www.facebook.com/JCarvalhoInformatica" target="new" title="JCarvalho TI no Facebook">
                    <img src="~/Images/facebook_bolinha.png" width="24" height="24" />
                </a>
            </li>
            <li>
                <a href="http://twitter.com/joser_carvalho" target="new" title="JCarvalho TI no Twitter">
                    <img src="~/Images/twitter_bolinha.png" width="24" height="24" />
                </a>
            </li>
            <li>
                <a href="http://www.linkedin.com/pub/jos%C3%A9-carvalho/44/1a5/7b4" target="new" title="JCarvalho TI no Linkedin">
                    <img src="~/Images/linkedin_bolinha.png" width="24" height="24" />
                </a>
            </li>
            <li>
                <a href="mailto:joser.carvalho@ig.com.br" target="new" title="JCarvalho TI por E-mail">
                    <img src="~/Images/email_bolinha.png" width="24" height="24" />
                </a>
            </li>
        </ul>
    </div>*@
    @*<div id="img-azure" class="col-xs-1 col-md-2 col-md-offset-2">
        <a href="http://www.windowsazure.com/pt-br/" target="_blank">
            <img title="Hospedado e desenvolvido no Windows Azure" src="/img/Logo-Azure.png" />
        </a>
    </div>*@

</footer>